@model List<IMDB.Models.Actors>

@{
    ViewBag.Title = "All Actors";
}

<h1>All Actors</h1>

<div>
    <button onclick="location.href='/create';return false;" class="add-new">Create New Actor</button>
</div>

<section>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Sex</th>
                <th>DOB</th>
                <th>BIO</th>
            </tr>
            @foreach (var film in Model)
            {
                <tr>
                    <td>@film.Name</td>
                    <td>@film.Sex</td>
                    <td>@film.DOB</td>
                    <td>@film.BIO</td>
                    <td>
                        <button onclick="location.href='/edit/@film.Id';return false;" class="edit">Edit</button>
                        <button onclick="location.href='/delete/@film.Id';return false;" class="delete">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>